<div id="search-header">
  <mat-form-field class="tag-chip-list">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip
        *ngFor="let tagIndex of selectedTags$ | async"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(tagIndex)"
      >
        {{ tagIndex | tagName: (tags$ | async) }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags..."
        #fruitInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addHandler($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let tag of tags$ | async; let idx = index"
        [value]="idx"
      >
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button
    id="generate-playlist"
    mat-raised-button
    color="primary"
    (click)="navigateToPlaylist()"
  >
    Generate playlist
  </button>
</div>

<div class="card-deck">
  <div *ngFor="let video of filteredVideos$ | async" class="card">
    <img
      class="card-img-top"
      [src]="'https://img.youtube.com/vi/' + video.videoId + '/sddefault.jpg'"
      alt="Card image cap"
    />
    <div class="card-body">
      <mat-chip-list aria-label="Tag selection">
        <mat-chip *ngFor="let tag of video.tags">
          {{ tag | tagName: (tags$ | async) }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
